$gutter: 1rem; 

@import "assets/layout//styles/layout/layout.scss";

@import "assets/demo/styles/flags/flags.css";
@import "assets/demo/styles/badges.scss";
@import "assets/demo/styles/code.scss";


.p-inputtext{
    background-color: transparent;
    width: 100%;
}